.para {

    color: violet;
    font-size: 31px;
    padding: 60px;

}

.h1 {
    color: blue;
    font-size: xx-large;  
}

.divv {
    display: flex;
    align-items: center;
    justify-content: center;
}